
html {
    box-sizing: border-box;
    font-size: 62.5%;
 }
 
 
 *,
 *:before,
 *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
 }
 
 
 html,
 body {
    height: 100%;
 }
 
 
 body {
     font-size: 1.6rem;
    /* font-size 1.6rem is now the same as 16px */
    line-height: 1.6;
 }

 header {
    padding: 24px;
    background-color: rgb(137, 219, 230);
    text-align: center;
 }

 main {
    max-width: 240px;
    margin: 40px auto;
    text-align: justify;
 }
 
 .image-div{
        display: inline-block;
 }

 #classic {
    position: absolute;
    top: 60px;
    right: 60px;
 }

 #dizzy {
    position: absolute;
    top: 120px;
    right: 120px;
 }

 #sunshine {
    position: absolute;
    top: 180px;
    right: 180px;
 }

 #natural {
    position: absolute;
    top: 240px;
    right: 240px;
 }

 #greene {
    position: absolute;
    top: 300px;
    right: 300px;
 }

 #invisible {
    position: absolute;
    top: 360px;
    right: 360px;
 }